<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sifei.Cancelacion.Ws.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sifei.Cancelacion.Ws.Client.Properties.Settings>
            <setting name="Sifei_Cancelacion_Ws_Client_mx_com_sifei_cancelacion_Cancelacion"
                serializeAs="String">
                <value>http://devcfdi.sifei.com.mx:8888/CancelacionSIFEI/Cancelacion</value>
            </setting>
        </Sifei.Cancelacion.Ws.Client.Properties.Settings>
    </applicationSettings>
</configuration>