<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sifei.Timbrado.Ws.Cliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sifei.Timbrado.Ws.Cliente.Properties.Settings>
            <setting name="Sifei_Timbrado_Ws_Cliente_mx_com_sifei_devcfdi_SIFEIService" serializeAs="String">
                <value>http://devcfdi.sifei.com.mx:8080/SIFEI33/SIFEI</value>
            </setting>
        </Sifei.Timbrado.Ws.Cliente.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
